@import '../../../../../styles/customMediaQueries.css';

.root {
}

.checkedAvailable {
  --FieldRadioButton-checkedBg: var(--colorSuccessSubtle);
  --FieldRadioButton-checkedRing: var(--colorSuccess);
  --FieldRadioButton-checkedDot: var(--colorSuccess);
}

.checkedNotAvailable {
  --FieldRadioButton-checkedBg: var(--colorFailSubtle);
  --FieldRadioButton-checkedRing: var(--colorFail);
  --FieldRadioButton-checkedDot: var(--colorFail);
}
