@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  justify-content: center;
  padding: 80px 24px 100px;
  background: #fff;

  @media (max-width: 768px) {
    padding: 40px 20px 72px;
  }
}

.content {
  width: 100%;
  max-width: 826px;
}

.heading {
  font-family: Nohemi;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 60px;
  letter-spacing: 0px;
  vertical-align: middle;
  
  color: #101828;
  margin: 0 0 24px 0;


}

.intro {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #101828;
  margin: 0 0 16px 0;
}

.outcomeList {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #414651;
  margin: 0 0 24px 0;
  padding-left: 24px;
  list-style: disc;

  & li {
    margin-bottom: 10px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #101828;
  }

  & strong {
    font-weight: 700;
    color: #101828;
  }
}

.closing {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #101828;
  margin: 0 0 24px 0;
}

.signature {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #101828;
  margin: 0;
}
