@import '../../styles/customMediaQueries.css';

.content {
  @media (--viewportMedium) {
    margin: 32px auto 0 auto;
    max-width: 824px;
    width: 100%;
  }

  @media (--viewportLarge) {
    margin: 24px auto 16px;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;
}

.heading {
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #006647;
  margin: 0;
  padding: 0;
}

.stripeConnectAccountForm {
  margin-top: 0;
}
