@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
}

.bookingBreakdownTitle {
  letter-spacing: 1px;
  font-weight: var(--fontWeightMedium);
}

.totalDivider {
  /* dimensions */
  width: 100%;
  height: 1px;
  margin: 12px 0 5px 0;

  border: none;
  background-color: var(--colorGrey100);

  @media (--viewportMedium) {
    margin: 7px 0 0px 0;
  }
}

.bookingDates {
  flex-shrink: 0;

  /* Ensure that calendar dropdown gets some stacking context relative to other form items below */
  z-index: 1;
  margin-top: 32px;
}

.priceBreakdownContainer {
  padding: 0 24px;
  margin-top: 24px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 40px;
  }
}

.receipt {
  flex-shrink: 0;
  margin: 0 0 24px 0;
}

.error {
  color: var(--colorFail);
  margin: 0 24px;
  display: inline-block;
}

.sideBarError {
  composes: h4 from global;
  color: var(--colorFail);
  margin: 0 24px 12px 24px;

  @media (--viewportMedium) {
    margin: 24px 0 12px 0;
  }
}

.finePrint {
  composes: marketplaceTinyFontStyles from global;
  text-align: center;
  margin-top: 8px;
}

.submitButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  padding: 0 24px;
  margin-top: 24px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 32px;
  }
}

.courseBtnSecondary {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid var(--border-border-primary, #D5D7DA);
  background: var(--colorWhite);
  color: #374151;
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0px;

  cursor: pointer;
  min-height: 44px;

  &:hover {
    border-color: #9ca3af;
  }
}

.courseBtnSaved {
  /* border-color: var(--colorSuccess, #00a069);
  color: var(--colorSuccess, #00a069);

  &:hover {
    border-color: var(--colorSuccess, #00a069);
  } */
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  
}

.courseBtnPrimary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;

  text-decoration: none;
  background: #008057;
  color: var(--colorWhite);
  border: none;
  cursor: pointer;
  min-height: 44px;
  width: max-content;

  &:hover {
    text-decoration: none;
    background: #154a2f;
    color: var(--colorWhite);
  }
}

.seatsDebug {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px 24px;
  margin: 18px 0 0 0;
  background-color: var(--colorGrey50);

  @media (--viewportMedium) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0px 0;
    /* margin: 24px 0 0 0; */
  }
}

.fieldSeats {
  width: calc(100% - 48px);
  margin: 30px 24px 6px 24px;

  @media (--viewportMedium) {
    width: 100%;
    margin: 24px 0;
  }
}

.sessionScheduleNote {
  composes: p from global;
  margin: 16px 0 0 0;
  font-size: 14px;
  line-height: 22px;
  color: var(--colorGrey500);
}
