@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.formMargins {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.title {
  composes: formMargins;
}

.description {
  composes: formMargins;
  flex-shrink: 0;
}

.benefits {
  composes: formMargins;
  flex-shrink: 0;
}

.labelRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.charCount {
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;

  color: #101828;
  white-space: nowrap;
}

.listingTypeSelect {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.selectedLabel {
  font-family: Nohemi;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
color: #101828;
margin: 0;
}

.selectedValue {
  margin-top: 0;
  margin-bottom: 6px;
  border: 1px solid var(--border-border-primary, #D5D7DA);
  border-radius: 4px;
  padding: 9px 14px 9px 14px;
  cursor: not-allowed;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
 
  }
}

.unitTypeHidden {
  display: none;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;
  min-height: 44px;
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  
  @media (--viewportLarge) {
    display: inline-block;
    width: 70px;
    margin-top: 32px;
  }
}