@import '../../../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.form {
  flex-grow: 1;
}

/* ================ Modal ================ */

.modalHeaderWrapper {
  margin-top: 58px;
  margin-bottom: 36px;
  padding: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 34px;
    padding: 0;
  }
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}


.heading {
  font-family: Nohemi;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: spacing/4;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #101828;
  margin: 0 0 32px;
  padding: 0;
}

.Subheading {
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: spacing/3;
  letter-spacing: 0%;
  
  color: #101828;
  margin: 0 0 32px;
  padding: 0;
}