@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 32px 24px;
  border-radius: 12px;
  background: #CEFDE4;
  margin-bottom: 34px;

  @media (--viewportMedium) {
    padding: 32px 32px;
    gap: 8px;
  }
}

.heading {
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
  color: #101828;
  margin: 0;
  padding: 0;

  @media (--viewportMedium) {
  
  }
}

.description {
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  
  color: #414651;
  margin: 0;
  padding: 0;

}

.ctaButton {
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: #008057;
  color: #fff;
  cursor: pointer;
  margin-top: 4px;

  &:hover {
    background: #005238;
  }
}
