@import '../../styles/customMediaQueries.css';

.mobileTopbar {
  width: 100%;
  height: var(--topbarHeight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorWhite);
  box-shadow: none;

  @media (--viewportMedium) {
    height: var(--topbarHeightDesktop);
  }
  padding-left: 16px;
  padding-right: 16px;

  @media (--viewportLarge) {
    display: none;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;

  @media (--viewportLarge) {
    box-shadow: var(--boxShadowLight);
  }
}

.main {
  background-color: var(--colorWhite);
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--contentMaxWidthPages);
  margin: 0 auto;
  padding: 80px 32px;

  @media (max-width: 767px) {
    padding: 40px 16px;
  }
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 40px;

  @media (--viewportMedium) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 32px;
  }
}

.pageHeaderText {
  flex: 1;
  min-width: 0;
}

.title {
  margin: 0 0 8px;
  padding: 0;
  font-family: Nohemi;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 60px;
  letter-spacing: 0px;
  vertical-align: middle;
  
  color: #101828;

  @media (--viewportMedium) {

    margin-bottom: 26px;
  }
}

.subtitle {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: spacing/3;
  letter-spacing: 0%;
  
  color: #101828;
}

.error {
  color: var(--colorFail);
  margin: 0 0 24px;
}

.noResults {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #414651;
}

.itemList {
  margin: 0;
  padding: 0;
  list-style: none;
}

@keyframes loadingSpinnerFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.listItemsLoading {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  opacity: 0;
  animation-duration: 1s;
  animation-name: loadingSpinnerFadeIn;
  animation-fill-mode: forwards;
}

.listItem {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.item {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding: 32px 24px;
  border: 1px solid var(--border-border-primary, #D5D7DA);
  border-radius: 8px;
  background-color: var(--colorWhite);
}

.itemAvatar {
  position: relative;
  flex-shrink: 0;
  margin-right: 24px;
}

.avatarNotificationDot {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--colorWhite);
  border-radius: 50%;
  background-color: var(--colorFail);
}

.itemLink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  min-width: 0;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:hover .itemValue {
    color: var(--marketplaceColor);
  }

  @media (--viewportMedium) {
    flex-direction: row;
    /* align-items: center; */
    gap: 24px;
  }
}

.itemState {
  flex-shrink: 0;
  align-self: flex-start;
  text-align: right;

  @media (--viewportMedium) {
    align-self: flex-start;
  }
}

.itemContent {
  flex: 1;
  min-width: 0;
}

.itemRow {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.itemLabel {
  font-family: Nunito Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: spacing/3;
  letter-spacing: 0%;
  vertical-align: middle;
  
  color: #101828;
}

.itemValue {
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: spacing/3;
  letter-spacing: 0%;
  vertical-align: middle;
  
  color: #101828;
}

.itemDetails {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #717680;
  &:empty{
    display: none;
  }
}

.itemSeats {
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #717680;
}


.stateName {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.statePending {
  color: #6941c6;
}

.stateAccepted {
  color: #067647;
}

.stateExpired,
.stateConcluded {
  color: #a4a7ae;
}

.stateActionNeeded {
  color: #6941c6;
}

.stateNoActionNeeded {
  color: #101828;
}

.pagination {
  margin: 48px 0 0;
}

.bannedUserLink {
  & .itemValue,
  &:hover .itemValue,
  & .stateName {
    color: var(--colorGrey300);
  }
}
