@import '../../styles/customMediaQueries.css';

.root {
  margin-top: 24px;
}

@media (--viewportMedium) {
  .root {
    margin-top: 48px;
  }
}

.disabled {
  opacity: 0.5;
}

.fieldRow {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 6px;
  padding-bottom: 0;
  border-bottom: 1px solid var(--border-border-divider, #E9EAEB);
  padding-bottom: 24px;

  &>label {}

  @media (--viewportMedium) {
    margin-bottom: 24px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;

    & label {
      padding: 0;
    }

    &>div {
      max-width: 512px;
      width: 100%;

    }
  }
}

.fieldRow2 {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 6px;
  padding-bottom: 0;
  border-bottom: 1px solid var(--border-border-divider, #E9EAEB);
  padding-bottom: 24px;

  &>label {
    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (--viewportMedium) {
    margin-bottom: 24px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;

    & label {
      padding: 0;
    }

    &>div {
      max-width: 512px;
      width: 100%;
      & label {
        opacity: 0;
      }
    }
  }
}
.sectionContainer {

}

.formRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.radioButtonRow {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
  white-space: nowrap;
  flex-direction: column;
  gap: 20px;

  & label {
    & span {
      font-family: Nunito Sans;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 24px;
      letter-spacing: 0%;

    }
  }
}

.radioButtonRow> :first-child {
  margin-right: 36px;
}

.selectCountry {
  margin-bottom: 24px;
}

.error {
  composes: marketplaceModalPasswordMargins from global;
  font-size: 14px;
}

.termsText {
  composes: marketplaceModalHelperText from global;
  margin-bottom: 12px;
  text-align: right;

  @media (--viewportMedium) {
    margin-bottom: 16px;
  }
}

.submitButton{
  margin-top: 24px;

  font-family: Nohemi;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  color: #FFFFFF;
  width: max-content;
  margin-left: auto;
  min-height: 40px;
  padding: 9px 16px;
}

.termsLink {
  composes: marketplaceModalHelperLink from global;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.bankDetailsStripeField p {
  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  /* margin-top + n * line-height + margin-bottom => x * 6px */
  margin-top: 12px;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    font-weight: var(--fontWeightMedium);
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 17px;
    margin-bottom: 15px;
  }
}

.missingStripeKey {
  color: var(--colorFail);
}

.accountInformationTitle {
  margin: 0;
}

.savedCountry {
  padding-top: 6px;
  padding-bottom: 0px;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 16px;
  }
}

.savedInformation {
  margin-bottom: 24px;
}

.savedBankAccount {
  color: var(--colorGrey700);
  text-align: left;

  &:hover {
    text-decoration: none;
  }
}