@import '../../../styles/customMediaQueries.css';

.root {
}

.newPasswordSection {
  margin-top: 16px;
  margin-bottom: 24px;
  padding-top: 6px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 6px;
  padding-bottom: 0;
  border-bottom: 1px solid var(--border-border-divider, #E9EAEB);
  padding-bottom: 24px;
  & > label{
    @media (max-width: 768px) {
      display: none;
    }
  }
  @media (--viewportMedium) {
    margin-bottom: 24px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    &>div{
      max-width: 512px;
      width: 100%;
      & label{
        opacity: 0;
        padding: 0;
      }
    }
    & label{
      padding: 0;
    }
 
  }

}

.confirmChangesSection {
  flex-grow: 1;
  display: flex;
  margin-bottom: 60px;
  padding: 0;
  opacity: 0;
  display: none;
}

.confirmChangesSectionVisible {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--border-border-divider, #E9EAEB);
  &>div:last-child{
    max-width: 512px;
    width: 100%;
    & label{
      opacity: 0;
      padding: 0;
    }
  }
}

.confirmChangesTitle {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #101828;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.confirmChangesInfo {
  margin-top: 0;
  margin-bottom: 0px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #414651;

  @media (--viewportMedium) {
    margin-bottom: 0px;
  }
}

.bottomWrapper {
 /* margin-top: 46px;

  @media (--viewportMedium) {
    margin-top: 96px;
  } */
  & button{
    margin-top: 24px;

    font-family: Nohemi;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: max-content;
    margin-left: auto;
    min-height: 40px;
    padding: 9px 16px;
   }
}

.error {
  composes: h4 from global;
  color: var(--colorFail);
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 24px 0;

  @media (--viewportMedium) {
    margin: 24px 0;
  }
}

.helperLink {
  composes: a from global;
  color: var(--colorGrey700);
  font-weight: var(--fontWeightMedium);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.emailStyle {
  font-weight: var(--fontWeightBold);
  word-wrap: break-word;
}
