@import '../../../styles/customMediaQueries.css';

.bookingBreakdownTitle {
  letter-spacing: 1px;
  font-weight: var(--fontWeightMedium);
}

.totalDivider {
  /* dimensions */
  width: 100%;
  height: 1px;
  margin: 12px 0 5px 0;

  border: none;
  background-color: var(--colorGrey100);

  @media (--viewportMedium) {
    margin: 7px 0 0px 0;
  }
}

.quantityField {
  padding: 0 24px;

  @media (--viewportMedium) {
    padding: 0;
  }
}

.deliveryField {
  padding: 0 24px;
  margin-top: 24px;

  @media (--viewportMedium) {
    padding: 0;
  }
}

.singleDeliveryMethodLabel {
  composes: label from global;

  @media (--viewportMedium) {
    padding-bottom: 5px;
  }
}

.singleDeliveryMethodSelected {
  margin: 0;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.breakdownWrapper {
  padding: 0 24px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 40px;
  }
}


.submitButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  padding: 0 24px;
  margin-top: 24px;
  @media (max-width: 768px) {
    padding: 0 0px;
    margin-top: 20px;
  }
  @media (--viewportMedium) {
    padding: 0;
    margin-top: 32px;
  }
}

.courseBtnSecondary {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid var(--border-border-primary, #D5D7DA);
  background: var(--colorWhite);
  color: #374151;
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0px;

  cursor: pointer;
  min-height: 44px;
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    min-height: 36px;
  }
  &:hover {
    border-color: #9ca3af;
  }
}

.courseBtnSaved {
  /* border-color: var(--colorSuccess, #00a069);
  color: var(--colorSuccess, #00a069);

  &:hover {
    border-color: var(--colorSuccess, #00a069);
  } */
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    min-height: 36px;
  }
  
}

.courseBtnPrimary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;

  text-decoration: none;
  background: #008057;
  color: var(--colorWhite);
  border: none;
  cursor: pointer;
  min-height: 44px;
  width: max-content;
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    min-height: 36px;
  }
  &:hover {
    text-decoration: none;
    background: #154a2f;
    color: var(--colorWhite);
  }
}
.finePrint {
  composes: marketplaceTinyFontStyles from global;
  text-align: center;
  &:empty{
    display: none;
  }
}

.error {
  composes: h4 from global;
  color: var(--colorFail);

  padding: 0 24px;

  @media (--viewportMedium) {
    padding: 0;
  }
}
