@import '../../styles/customMediaQueries.css';

.root {
  /* Size */
  width: 100%;
  height: var(--topbarHeight);

  /* Layout for child components */
  display: flex;
  align-items: center;
  justify-content: center;

  /* fill */
  background-color: var(--colorWhite);

  /* shadows */
  box-shadow: var(--boxShadow);
  border-bottom: 1px solid var(--border-border-primary, #D5D7DA);
  @media (--viewportMedium) {
    height: var(--topbarHeightDesktop);
    justify-content: center;
  }
}
