@import '../../../styles/customMediaQueries.css';

.content {
  max-width: 824px;
  margin: 40px auto 64px auto;
  width: 100%;
  @media (max-width: 768px) {
  padding: 24px 16px;
  margin-top: 0;
  }
}

.headingContainer {
  display: flex;
  flex-direction: row;
}

.heading {
  margin-right: 24px;
}

.profileLink {
  composes: buttonSecondaryInline from global;
  font-family: Nohemi;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
  
  padding: 8px 16px 8px 16px;
  margin: 0px 0 0 auto;
  background: #008057;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  float: right;
  flex-shrink: 0;
  &:hover{
    background: #008057;
    color: #fff;
  }
}

.form {
  margin-top: 48px;
}
