@import '../../../styles/customMediaQueries.css';

.root {
  /* Clearfix */
  composes: clearfix from global;
}

.messageItem {
  margin-bottom: 20px;

  /* Clearfix */
  composes: clearfix from global;

  @media (--viewportMedium) {
    margin-bottom: 17px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.message,
.ownMessage {
  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;
  max-width: 433px;
}

.message {
  display: flex;
  flex-direction: row;
}

.ownMessage {
  float: right;
}

.avatar {
  flex-shrink: 0;
  margin: 0px 12px 0 0;

  @media (--viewportMedium) {
    margin: 0px 12px 0 0;
  }
}

.ownMessageContentWrapper {
  composes: clearfix from global;
}

.messageContent,
.ownMessageContent {
  composes: textSmall from global;

  display: inline-block;
  margin: 0;
  padding: 8.5px 14px 8.5px 14px;
  border-radius: 8px;
  box-shadow: var(--boxShadow);
  background-color: var(--colorWhite);

  @media (--viewportMedium) {
    padding: 8px 14px 8px 14px;
    margin: 0;
  }
}

.messageContent {
  flex: 1;
}

.ownMessageContent {
  background-color: #CEFDE4;
  color: #006647;
  float: right;
  box-shadow: 0px 2px 6px 0px #00000033;
  font-family: Nunito Sans;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
text-align: right;


}

.ownMessageContentLink {
  color: var(--colorWhite);
  text-decoration: underline;

  word-break: break-word;
  hyphens: auto;

  &:hover {
    text-decoration: none;
    background-color: var(--marketplaceColorDark);
  }
}

.messageDate,
.ownMessageDate {
  composes: marketplaceMessageDateFontStyles from global;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  
  margin: 11px 0 0 0;
  color: #414651;

  @media (--viewportMedium) {
    margin: 0 0 0 0;
  }
}

.ownMessageDate {
  text-align: right;

  @media (--viewportMedium) {
    margin: 12px 0 0 0;
  }
}

.transitionItem {
  margin-bottom: 18px;

  /* Clearfix */
  composes: clearfix from global;

  @media (--viewportMedium) {
    margin-bottom: 16px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.transition {
  display: flex;
  flex-direction: row;
  padding: 3px 0 2px 0;

  @media (--viewportMedium) {
    padding: 0;
  }
}

.transitionContent {
  composes: marketplaceTxTransitionFontStyles from global;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: spacing/3;
  letter-spacing: 0%;
  color: #101828;
  margin: 0;
}

.reviewLink {
  composes: a from global;
}

.transitionDate {
  composes: marketplaceMessageDateFontStyles from global;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: spacing/2, 5;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #414651;
  color: var(--colorGrey600);
  margin: 7px 0 0 0;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.bullet {
  margin-right: 6px;
}

.reviewContent {
  composes: h4 from global;
  font-style: italic;
  white-space: pre-line;
  margin: 8px 0 0 0;
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; /* 24px */
  letter-spacing: 0%;
  color: #101828;
  @media (--viewportMedium) {
    max-width: 500px;
    margin: 7px 0 0 0;
  }
}

.reviewStars {
  display: block;
  margin-top: 4px;

  @media (--viewportMedium) {
    margin: 5px 0;
  }
}

.reviewStar {
  width: 12px;
  height: 12px;
  margin-right: 2px;
  font-styles: initial;
}

.showOlderWrapper {
  text-align: center;
  margin-bottom: 1px;

  @media (--viewportMedium) {
    margin-bottom: 0;
  }
}

.showOlderButton {}

.longWord {
  word-break: break-word;
  hyphens: auto;
}